body {
  text-align: center;
  background-color: #011F3F;
  font-family: Arial, sans-serif;
}

#level-title {
  font-size: 2rem;
  color: white;
  margin: 30px;
}

.container {
  width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
}

.btn {
  border: 10px solid black;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.green { background-color: green; }
.red { background-color: red; }
.yellow { background-color: yellow; }
.blue { background-color: blue; }

.pressed {
  box-shadow: 0 0 20px white;
  opacity: 0.5;
}